:root {
    --primary: #FFFFFF;
    --dark: #000;
    --light: #416099;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
    background: var(--primary);
}


.sticky1 {
    position: sticky;
    top: 0;
    background: var(--primary);
    padding: 0 60px;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
    width: auto;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans";
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
}


.big-text {
    text-align: center;
    font-size: 50px;
    margin-left: 50px;
}

.textarea h1 {
    margin-left: 50px;
    margin-bottom: 0;
}

.textarea textarea {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #ccc;
    resize: vertical;
    box-sizing: border-box;
    margin-left: 50px;
}

.textarea p,
.textarea p#word-count {
    font-size: 14px;
    color: #555;
}

.textarea p#word-count {
    margin-left: 870px;
    margin-top: 5px;
}



.box {
    height: 1350px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}






.field {
    display: flex;
    flex-direction: column;
}

.field label {
    font-size: 11px;
    margin-top: 4px;
}


.grid-group1 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.name-row {
    display: flex;
    gap: 20px;
}

.grid-group1 .field input {
    width: 200px;
}


.grid-group2 {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
}

.grid-group2 .field input {
    width: 900px;
}



.grid-group3 {
    display: flex;
    gap: 15px;
    margin-left: 1px;
}

.radio-group {
    display: flex;
    gap: 0;
}

.radio-group input[type="radio"] {
    width: auto;
}


.grid-group4 {
    display: flex;
    gap: 15px;
    margin-left: 1px;
}

.grid-group4 .field input {
    width: 135px;
}


.grid-group5,
.education-row {
    display: flex;
    gap: 20px;
}

.edu-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-label {
    font-size: 16px;
}

.edu-column label:not(.main-label) {
    font-size: 11px;
}

.date-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date-field {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    align-items: center;
}


input {
    width: 190px;
    height: 30px;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input[name="address"] {
    width: 900px;
}

input[type="text"],
input[type="date"] {
    padding: 5px 8px;
    font-size: 12px;
    width: 620px;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    vertical-align: middle;
}

input[type="date"] {
    width: 125px;
    margin-left: 5px;
    vertical-align: middle;
}

select {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}




.file-upload {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;   
  padding: 40px;          
  margin-top: 20px;
  
}
input[type="file"] {
    border: none;
    background: transparent;
    width: 250px;
    margin-right: -55px;
}
.file-status {
  margin-top: 5px;
  font-size: 14px;
}

.upload-caption {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  margin-top: -50px;
}





.button-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 30px;
}
.back-btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--dark);
    color: white;
    margin-right: 15px;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
}

.next-btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--light);
    color: white;
    margin-right: 425px;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
}


footer {
    background-color: var(--dark);
    color: var(--primary);
    text-align: center;
    padding: 10px;
}